#About-me{
    width: 100%;
    height: 100%;
     @include flex(center, center, row);
.img{
    display: inline-block;
    margin-left: -8rem;
}
}
.about{
    @include flex(baseline, flex-start,column);
    width: 50%;

h3{
    font-size: 4rem;
    color: $voilish-color;
    padding-top: 2rem;
}
p{
    padding-top: 3rem;
    color: $Blackish;
}

button{
    border: 1px solid  #695aa6;
    border-radius: 20rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 2rem;

    &:hover{
        background:  #695aa6;
        cursor: pointer;
    }
    &:focus{
        outline: 4px solid  #a09bb8;
    }
}
}