#Blog-section {
    text-align: center;
  
    p {
      padding-top: 3rem;
    }
    h3 {
      font-size: 4rem;
      color: #695aa6;
      padding-top: 2rem;
    }
  
    .crds {
      @include flex(center, center, column);
      padding-top: 8rem;
    }
  
    .crd1 {
      @include flex(flex-start, center, row);
      width: 80%;
      height: 80%;
      border: 2px solid black;
    }
    .img {
      width: 40%;
      text-align: left;
    }
    .text {
      @include flex(center, center, column);
      width: 50%;
      padding-left: 2rem;
      
      p {
        padding-top: 5rem;
        font-size: 2rem;
      }
      h4 {
        padding-top: 4rem;
      }
      button {
        margin-top: 4rem;
        text-align: left;
        border: transparent;
        background: white;
      }
    }
  
    .crd2 {
      @include flex(flex-start, center, row);
      width: 80%;
      height: 80%;
      border: 2px solid black;
      margin-top: 2rem;
    }
    .img {
      width: 40%;
      text-align: left;
    }
    .text {
      @include flex(center, center, column !important);
      width: 50%;
      padding-left: 2rem;
      p {
        padding-top: 5rem;
        font-size: 2rem;
      }
      h4 {
        padding-top: 4rem;
      }
      button {
        margin-top: 4rem;
        text-align: left;
        border: transparent;
        background: white;
      }
    }
  }
  