#footer-section{
    width: 80%;
    margin: auto;

    p{
        text-align: center;
        margin-top: 2rem;
    }
    ul{
        margin-top: 1rem;
        @include flex(center,center,row);
        flex: 1 1 40rem;

        li{
            padding: 5px;
    }
}
}