#intro-section{
    width: 100%;
    margin: 0 0 0 auto;
    height: 100vh;
    background: linear-gradient(
      0deg,
      rgba(191, 191, 196, 0) 0%,
      rgba(202, 202, 204, 0.757) 50%,
      rgba(52, 21, 138, 0.932) 100%
    );
    font-weight: bold;
  }

  .intro {
    min-height: 50vh;
    width: 100%;
    flex-wrap: wrap;
    @include flex(center, flex-start, column);
    font-weight: bold;
    margin-left: 20%;
    margin-top: 10%;
    h2 {
      font-size: 5rem;
      padding-top: 1rem;
      // padding-right: 15%;
      font-weight: bold;
    }
  
    h3 {
      font-size: 5rem;
      padding-top: 2rem;
      // padding-right: 15%;
    }
    p {
      padding-top: 1.5rem;
      color: $Blackish;
      // padding-right: 15%;
    }
    button {
      padding: 1.5rem 3rem;
      font-size: $header3;
      background: #695aa6;
      border-color: #695aa6;
      text-align: center;
      // margin-right: 15%;
      margin-top: 6%;
      color: $text-white;
      border-radius: 20rem;
      cursor: pointer;
    }
  }