
.nav-bar {
  width: 100%;
@include flex(space-between,center,row);
  list-style: none;
  position: relative;
  background-color: $voilish-color;
  padding: 12px 20px;
  height: 10vh;


  .logo{
    padding-left: 5rem;
  }
}

.menu {
  @include flex(center,center,row);
  padding-right: 5rem;
  li {
    padding-left: 30px;
    a {
      display: inline-block;
      text-decoration: none;
      text-align: center;
      transition: 0.15s ease-in-out;
      position: relative;
     color: $text-white;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        transition: 0.15s ease-in-out;
      }
      &:hover::after {
        width: 100%;
      }
    }
  }
}

.open-menu,
.close-menu {
  position: absolute;
  cursor: pointer;
  font-size: 2.5rem;
  display: none;
}

.open-menu {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.close-menu {
  top: 20px;
  right: 20px;
}

#checkbox {
  display: none;
}

@media (max-width: 850px) {
  .menu {
    @include flex(space-evenly,center,column);
    width: 50%;
    height: 50vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: $voilish-color;
    transition: all 1s ease-in-out;
  }
  .open-menu,
  .close-menu {
    display: inline;
  }
  #checkbox:checked ~ .menu {
    right: 0%;
  }
}

