#Testmonial{
    @include flex(center,center,column);
    padding-top: 10rem;
    
    .text-area{
    @include flex(center,center,column);
        h3{
            padding-top: 3rem;
            text-align: center;
            font-size: 4rem;
            color: #695aa6;
        }
    }
    
    .cards-review{
        @include flex(space-evenly,center,row !important);
        width: 100%;
        flex-wrap: wrap;
    }
        .txt1{
            width: 40%;
            border: 2px solid black;
            align-self: flex-start;
            height: 20vh;
            margin-top: 5rem;
    
            img{
                width: 9rem;
                height: 9rem;
                border-radius: 50%;
                float: left;
                position: absolute;
                margin-left: -4.5rem;
                margin-top: 2rem;
            }
            p{
               font-size: 1.8rem;
               text-align: center;
               margin-left: 5rem;
               padding-top: 3rem;
            }
            h3{
                text-align: center;
                padding: 1rem;
                color: #695aa6;
                font-size: 2.5rem;
            }
        }
    
    
        .txt2{
            width: 40%;
            border: 2px solid black;
            align-self: flex-end;
            height: 20vh;
        
    
            img{
                width: 9rem;
                height: 9rem;
                border-radius: 50%;
                float: left;
                position: absolute;
                margin-left: -4.5rem;
                margin-top: 2rem;
            }
            p{
               font-size: 1.8rem;
               text-align: center;
               margin-left: 5rem;
               padding-top: 3rem;
            }
            h3{
                text-align: center;
                padding: 1rem;
                color: #695aa6;
                font-size: 2.5rem;
            }
        }
    
    }
    